@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;500;700;800&family=Poppins:ital,wght@0,500;1,500&display=swap');
head,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.pth {
  padding: 10px 0px;
}
.tabpath {
  color: #000;
  /* text-align: center; */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: flex-start;
  margin-bottom: 0px;
  padding-top: 8px;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.courses {
  margin-top: 0px;
}
.dropdown-toggle {
  color: #212427;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.718px;
}
.course .dropdown-toggle:focus {
  box-shadow: none; /* Remove the focus box-shadow */
  outline: none; /*Remove the outline */
  border-color: transparent !important; /*Set border color to transparent*/
}
.dropdown-toggle:hover {
  cursor: pointer;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important; /* Remove background color on hover and focus */
}

.dropdown-item {
  color: #212427;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.718px;
}
.close:focus {
  outline: none !important;
  border: none !important;
}
.topClassifier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortBtn .dropdown-toggle::after {
  display: none !important;
}
.sortBtn .dropdown-toggle {
  display: flex;
  border-radius: 3px;
  border: 0.5px solid #bac6d4;
  background: #fff;
  padding: 10px;
}
.sortBtn .dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important; /* Remove background color on hover and focus */
}
.sortBtn .dropdown-menu {
  padding: 0.5rem 0;
  min-width: 170px;
  max-width: 260px;
}
.sortBtn p {
  color: #212529;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px; /* 135.714% */
  margin: 0px;
}
.form-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-check label {
  margin-left: 10px;
}
.sortBtn input,
label {
  cursor: pointer;
}
.showr {
  color: #fff;
  text-align: center;
  font-size: 13.111px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #00a2fe;
}
.category {
  margin-top: 1rem;
}
.custom-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a4afb9;
  font-size: 14px;
  width: 100%;
  padding: 0.7rem;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  border-radius: 3px;
  border: 0.5px solid #bac6d4;
}
.custom-dropdown-toggle::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 5px;
  border-top: 5px solid #212529;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.category p {
  color: #a4afb9;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.718px;
  margin: 0px;
}
.category a {
  color: #212529;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.718px;
}
.category .dropdown-menu {
  min-width: 170px;
  max-width: 320px;
}
.category p:hover {
  color: #a4afb9;
}
.bg-gradient {
  background: linear-gradient(135deg, #0065b4 0%, #009cf6 100%);
}
